Repository FGAUnB-REQ-GM/2021.2-PousadaAnimal, pull requests merged in 2022-02, with the labels that each got.

#1 Unidade 1 - Documentação Inicial
  .gitignore
  docs/images/agile-development.png
  docs/images/brainstorm.png
  docs/images/scrum.png
  docs/images/spiral.png
  docs/index.md
  docs/methodology.md
  docs/product-vision.md
  docs/requirements-engineering.md
  docs/results/unit-1.md
  mkdocs.yml
  requirements.txt
Labels: documentation

#2 Doc update readme
  README.md
Labels: documentation

#3 Add documentation link to ReadMe file
  README.md
Labels: documentation

#15 Automate documentation upload
  .github/workflows/update-github-pages.yml
  docs/methodology.md
  docs/product-vision.md
  docs/requirements-engineering.md
Labels: DOCS, DEVOPS

#16 Contributing politics
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug-template.md
  .github/ISSUE_TEMPLATE/generic-issue-template.md
  .github/pull_request_template.md
  .github/workflows/update-github-pages.yml
  docs/product-vision.md
Labels: DOCS, DEVOPS

#14 [#4] Update product vision document
  docs/product-vision.md
Labels: DOCS

#20 [#11] Add rich picture document and image
  docs/images/rich-picture.png
  docs/rich-picture.md
  mkdocs.yml
Labels: DOCS

#23 Apresentação do projeto
  README.md
  docs/images/pa.png
  docs/index.md
Labels: DOCS

#25 Apresentação do projeto
  docs/index.md
Labels: DOCS

#26 [#22] Product Backlog
  docs/images/product-backlog.jpg
  docs/product-backlog.md
  docs/requirements-list.md
  mkdocs.yml
Labels: DOCS, SCRUM

#34 Criação da licensa do repositório
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug-template.md
  .github/ISSUE_TEMPLATE/generic-issue-template.md
  .github/pull_request_template.md
  LICENSE
Labels: DOCS, DEVOPS

#41 #27 fix images n other things
  docs/index.md
  docs/methodology.md
  docs/product-backlog.md
  docs/product-vision.md
  docs/requirements-engineering.md
  docs/requirements-list.md
  docs/visual-identity.md
Labels: DOCS, FIX, DIFICULTY I, DURATION I

#93 Entrega da Unidade 2
  LICENSE
  README.md
  docs/images/canvas-mvp.jpg
  docs/images/favicon-medio.png
  docs/images/favicon-pequeno.png
  docs/images/favicon.ico
  docs/images/logo-azul.png
  docs/images/logo-branca.png
  docs/images/logo-roxo.png
  docs/images/logo-transparente.png
  docs/images/pa.png
  docs/images/paleta-cores.png
  docs/images/product-backlog-v1-1.png
  docs/images/product-backlog-v1-2.png
  docs/images/product-backlog-v1-3.png
  docs/images/product-backlog-v2-1-version2.png
  docs/images/product-backlog-v2-1.png
  docs/images/product-backlog-v2-2-version2.png
  docs/images/product-backlog-v2-2.png
  docs/images/rich-picture-v1.png
  docs/images/rich-picture-v2.png
  docs/images/scrum.png
  docs/index.md
  docs/product-vision.md
  docs/requirements-engineering.md
  docs/results/unit-1.md
  docs/stylesheets/extra.css
  docs/unit-1/methodology.md
  docs/unit-1/presentation.md
  docs/unit-1/product-backlog.md
  docs/unit-1/product-vision.md
  docs/unit-1/requirements-engineering.md
  docs/unit-1/requirements-list.md
  docs/unit-1/rich-picture.md
  docs/unit-1/visual-identity.md
  docs/unit-2/canvas-mvp.md
  docs/unit-2/presentation.md
  docs/unit-2/product-backlog.md
  docs/unit-2/product-vision.md
  docs/unit-2/project-management.md
  docs/unit-2/requirements-list.md
  docs/unit-2/rich-picture.md
  mkdocs.yml
Labels: docs
